<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoadSoThuTuPhong</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/dist/css/bootstrap.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LoadSoThuTuPhong</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="loadstt" class="nav-link text-dark" asp-area="" asp-controller="LoadSoThuTuPhong" asp-action="Index">STT</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="max-width:100%;margin:auto;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="/dist/js/BienChung.js"></script>

    <script src="@Url.Content("~/dist/lib/Jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/dist/lib/Jquery/jquery.inputmask.js")"></script>
    <script>
         $(document).on("click", "#loadstt", function (e) {
            e.preventDefault(); // chặn hành vi mặc định (link asp-controller)

            if (typeof window._idcn === "undefined" || !window._idcn) {
                console.error("Chưa có idChiNhanh (_idcn).");
                return;
            }

            // Redirect với param idChiNhanh
            window.location.href = `/load_so_thu_tu_phong/?idChiNhanh=${window._idcn}`;
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
